{% extends "portal/base.html" %}
{% block content %}
    <div class="content-section">
    <form action="/portal/" method="post" id="form">
    {% csrf_token %}
        <fieldset class ="form-group">
				<legend class="border-bottom mb-4">View TimeSheet Data</legend>
    <div>
        <label>
            {{ form.year.label}}<span class="asteriskField">*</span>
        </label>{{ form.year }}
    </div>
    <div>
        <label>
            {{ form.week.label}}<span class="asteriskField">*</span>
        </label>{{ form.week }}
    </div>
            </fieldset>
        <p> </p>
    <div class="form-group">
		<button class="btn btn-outline-info" type="submit"> Submit</button>
    </div>
    </form>
    </div>
    <p> </p>
    <p id="fromto" style="display : none;"> </p>
 <div id="report" style="display : none;">

 </div>
{% endblock %}

{% block js %}
    <script>
    $(function () {
        $("#form").submit(function () {
            let data = $('#form').serialize();
            let url = $(this).attr('action');
            $.post(url,data,function (resp) {
                $('#form input[type="number"]').val(' ');
                $('#report').text(' ');
                $('#fromto').text(' ');
                var context = resp.context;
                function fromToData(context) {
                        result = " Below work hours data is from  " + "<b>"+ context['week_begining'] + "</b>"+ "  to  " + "<b>"+ context['week_ending'] + "</b>"+ "<br>" +  "<br>" + "<b>Total Work hours:</b> " + context['week_hours'] ;
                        $('#fromto').append(result);
                        $('#fromto').show();
                }
                var obj = resp.timesheet;
                function showObject(obj) {
                        var html = '<table border="4">';
                        html += '<tr>';
                        html += '<th>' + 'DATE' + '</th>';
                        html += '<th>' + 'JOB TITLE' + '</th>';
                        html += '<th>' + 'HOURS' + '</th>';
                        html += '</tr>';
                        for (var i in obj) {
                            html += '<tr>';
                            html += '<td align="center">' + obj[i].date + '</td>';
                            html += '<td align="center">' + obj[i].jobs + '</td>';
                            html += '<td align="center">' + obj[i].hours + '</td>';
                            html += '</tr>';
                        }
                        html += '</table>';
                        $('#report').append(html);
                        $('#report').show();
                    }
                if (obj.length > 0) {
                    fromToData(context);
                    showObject(obj);
                } else {
                    $('#report').append("No Timesheet Records");
                }
            });
            return false;
        });
    })
    </script>
{% endblock js%}